# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# SQLite temporários
*.db-journal
*.db-wal
*.db-shm

